{% extends 'main/Base.html' %}
{% load static %}
{% block content %}
    <div class="wrapper ">
        {% include 'partials/Menu.html' %}
        <div class="main-panel">
            {% include 'partials/Nav.html' %}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card card-profile">
                                <div class="card-header card-header-warning">
                                    <img class="img" src="{{ anime.image_url }}"/>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-category">{{ studios }}</h6>
                                    <h4 class="card-title">{{ anime.titles.Title }}</h4>
                                    <div class="card-description">
                                        <div class="card-body table-responsive">
                                            <table class="table table-hover">
                                                <thead class="text-warning">
                                                <th>Language</th>
                                                <th>Title</th>
                                                </thead>
                                                <tbody>
                                                {% for key, value in anime.titles.items %}
                                                    {% if not forloop.first %}
                                                        <tr>
                                                            <td>{{ key }}</td>
                                                            <td>{{ value }}</td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <a href="#pablo" class="btn btn-primary btn-round">Add in to a list</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-success card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">trending_up</i>
                                            </div>
                                            <p class="card-category">Rank</p>
                                            <h3 class="card-title text-light">{{ anime.rank }}</h3>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                                <i class="material-icons">map</i> Global
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-8 col-md-8 col-sm-8">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-warning card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">reset_tv</i>
                                            </div>
                                            <p class="card-category">Episodes</p>
                                            <h3 class="card-title text-light">{{ anime.episodes }}
                                            </h3>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                                <i class="material-icons">date_range</i> {{ anime.publication_status }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-info card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">score</i>
                                            </div>
                                            <p class="card-category">Score</p>
                                            <h3 class="card-title text-light">{{ anime.score }}</h3>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                                <i class="material-icons">how_to_vote</i>{{ anime.scored_by }} votes
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="card">
                                    <div class="card-header card-header-primary">
                                        <h4 class="card-title">Synopsis</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="text-center">
                                            {% for tag in genres %}
                                                <a role="button" class="btn btn-danger" href="#">{{ tag.name }}</a>
                                            {% endfor %}
                                        </div>
                                        </br>
                                        <p class="card-description text-light">
                                            {{ anime.synopsis }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="card">
                                    <div class="card-header card-header-primary">
                                        <h4 class="card-title">Trailer</h4>
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item"
                                                    src="{{ anime.trailer_url }}"
                                                    allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'partials/Footer.html' %}
            </div>
        </div>
        <script>
            document.getElementById("menu_anime").classList.add('active');
            document.getElementById("navbar_name").innerHTML = "Anime details";
        </script>
{% endblock %}