{% extends 'main/Base.html' %}
{% load static %}
{% block content %}
    <div class="wrapper ">
        {% include 'partials/Menu.html' %}
        <div class="main-panel">
            {% include 'partials/Nav.html' %}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card card-profile">
                                <div class="card-header card-header-warning">
                                    <div class="card-category h6">Lista de: {{ list.user_owner }}</div>
                                    <div class="card-title h3">{{ list.name }}</div>
                                    <div class="card-category h6">{{ list.type }}</div>
                                </div>
                                <div class="card-body">
                                    <div class="card-description">
                                        <p class="text-lg-center text-light">
                                            {{ list.description }}
                                        </p>
                                    </div>
                                    <a href="#pablo" class="btn btn-primary btn-round">Update details</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-success card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">list</i>
                                            </div>
                                            <p class="card-category text-light">Total itens</p>
                                            <h3 class="card-title text-light">{{ animes|length }}</h3>
                                        </div>
                                        <div class="card-footer">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-success card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">bookmark</i>
                                            </div>
                                            <p class="card-category text-light">To watch</p>
                                            <h3 class="card-title text-light">{{ status.to_watch }}</h3>
                                        </div>
                                        <div class="card-footer">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-success card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">remove_red_eye</i>
                                            </div>
                                            <p class="card-category text-light">Watching</p>
                                            <h3 class="card-title text-light">{{ status.watching }}</h3>
                                        </div>
                                        <div class="card-footer">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-success card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">bookmark_added</i>
                                            </div>
                                            <p class="card-category text-light">Watched</p>
                                            <h3 class="card-title text-light">{{ status.watched }}</h3>
                                        </div>
                                        <div class="card-footer">

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-header card-header-primary">
                                            <h4 class="card-title">Filters</h4>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="row">
                                                    <div class="col-lg-10 col-sm-12 form-group text-center">
                                                        <label class="control-label text-light">Progress:</label>
                                                        <div class="form-check form-check-radio form-check-inline">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="radio"
                                                                       name="progressOptions"
                                                                       id="progressOption1" value="all_itens">All
                                                                <span class="circle">
                                                            <span class="check"></span>
                                                        </span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-check-radio form-check-inline">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="radio"
                                                                       name="progressOptions"
                                                                       id="progressOption2" value="to_watch_itens">To
                                                                watch
                                                                <span class="circle">
                                                            <span class="check"></span>
                                                        </span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-check-radio form-check-inline">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="radio"
                                                                       name="progressOptions"
                                                                       id="progressOption3" value="watching_itens">
                                                                Watching
                                                                <span class="circle">
                                                            <span class="check"></span>
                                                        </span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-check-radio form-check-inline">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="radio"
                                                                       name="progressOptions"
                                                                       id="progressOption4" value="watched_itens">
                                                                Watched
                                                                <span class="circle">
                                                            <span class="check"></span>
                                                        </span>
                                                            </label>
                                                        </div>
                                                        </br>
                                                        <label class="control-label text-light">Order By:</label>
                                                        <div class="form-check form-check-radio form-check-inline">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="radio"
                                                                       name="ordeByOptions"
                                                                       id="ordeByOption1" value="recently_order">
                                                                Recently
                                                                Added
                                                                <span class="circle">
                                                            <span class="check"></span>
                                                        </span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-check-radio form-check-inline">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="radio"
                                                                       name="ordeByOptions"
                                                                       id="ordeByOption2" value="first_order"> Frist
                                                                Added
                                                                <span class="circle">
                                                            <span class="check"></span>
                                                        </span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-check-radio form-check-inline">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="radio"
                                                                       name="ordeByOptions"
                                                                       id="ordeByOption3" value="a_z_order"> A -> Z
                                                                <span class="circle">
                                                            <span class="check"></span>
                                                        </span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-check-radio form-check-inline">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="radio"
                                                                       name="ordeByOptions"
                                                                       id="ordeByOption4" value="z_a_order"> Z -> A
                                                                <span class="circle">
                                                            <span class="check"></span>
                                                        </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-sm-12 align-self-center text-lg-left text-center">
                                                        <button type="submit" class="btn btn-primary btn-round">
                                                            <i class="material-icons">filter_list</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for anime in animes %}
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                                <div class="col">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-warning card-header-icon text-left">
                                            <div class="card-profile">
                                                <a href="{% url 'animeDetails' mal_id=anime.mal_id %}">
                                                    <img class="img"
                                                         src="{{ anime.image_url }}"
                                                         style="max-width: 150px"/>
                                                </a>
                                            </div>
                                            <div class="card-body text-center">
                                                <div class="card-header">
                                                    <h4 class="card-category">{{ anime.studio }}</h4>
                                                    <h3 class="card-title text-light">{{ anime.name }}</h3>
                                                </div>
                                                <div class="">
                                                    <p class="text-lg-center text-light">
                                                    </p>
                                                </div>
                                                <div class="row justify-content-center">
                                                    <div class="dropdown show">
                                                        <a class="btn btn-danger dropdown-toggle btn-round btn-sm"
                                                           href="#"
                                                           role="button"
                                                           id="dropdownMenuLink" data-toggle="dropdown"
                                                           aria-haspopup="true"
                                                           aria-expanded="false">
                                                            Actions
                                                        </a>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                            <a class="dropdown-item"
                                                               href="{% url 'animeDetails' mal_id=1 %}">Details</a>
                                                            <a class="dropdown-item" href="#">Remove from list</a>
                                                        </div>
                                                    </div>
                                                    <div class="dropdown show">
                                                        <a class="btn btn-danger dropdown-toggle btn-round btn-sm"
                                                           href="#"
                                                           role="button"
                                                           id="dropdownMenuLink" data-toggle="dropdown"
                                                           aria-haspopup="true"
                                                           aria-expanded="false">
                                                            Update Status
                                                        </a>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                            <a class="dropdown-item" href="#">To watch</a>
                                                            <a class="dropdown-item" href="#">Watching</a>
                                                            <a class="dropdown-item" href="#">Watched</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row justify-content-md-center">
                                                    <form>
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-prepend">
                                                            <span class="input-group-text text-light"
                                                                  id="inputGroup-sizing-sm">Last watched:&nbsp;</span>
                                                            </div>
                                                            <input type="number" min="1" value="{{ anime.last_episode_watched }}" class="form-control"
                                                                   aria-label="Small"
                                                                   aria-describedby="inputGroup-sizing-sm">
                                                            <button type="submit"
                                                                    class="btn btn-primary btn-round btn-sm">
                                                                <span class="material-icons md-5">autorenew</span>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="row justify-content-center">
                                                    <a type="button" class="btn btn-round btn-rose btn-sm"
                                                       href="{% url 'animeDetails' mal_id=1 %}">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% include 'partials/Footer.html' %}
        </div>
        <script>
            document.getElementById("menu_lists").classList.add('active');
            document.getElementById("navbar_name").innerHTML = "List: Animes for watch alone";
        </script>
{% endblock %}