{% load static %}
<div class="sidebar" data-color="purple" data-background-color="black" data-image="{% static '/img/sidebar-2.jpg' %}">
    <div class="logo"><a class="simple-text logo-normal">
        TaidaProject
    </a></div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item  ">
                <a class="nav-link" href="./">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item active ">
                <a class="nav-link" href="./AnimeDetails.html">
                    <i class="material-icons">tv</i>
                    <p>Anime</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./AnimeDetails.html">
                    <i class="material-icons">menu_book</i>
                    <p>Manga</p>
                </a>
            </li>
        </ul>
    </div>
</div>